  <footer id="footer">
				<ul id="contact">
					<li class="first">Euraxess 2012. FECYT</li>
					<li>C/ Pedro Teixeira, 8 (planta 2),  28020 Madrid</li>
					<li>Teléfono: (00 34) 91 425 09 09</li>
					<li>Fax: (00 34) 91 571 21 72</li>
					<li>E-Mail: fecyt@fecyt.es</li>
				</ul>
				<a href={fetch( 'content', 'node', hash( 'node_id', 67)).url_alias|ezurl}>Terms and Conditions and Privacy Policy</a>
			</footer>
