

/*=home */
#login{margin: 0 auto; width: 50em;}
#bodyContent .reseteo{padding-bottom: 0; border: none; }
#principalContent:after{display: block; clear: both; content:"."; visibility:hidden; height:0;}

/*=login */
#login input[type="text"], #login input[type="password"]{width:30.4em;}
.espaciado{margin-left: 12em;}
	.espaciado a{margin-right: 2em; color: #008fb3; font-size: 1.4em;}
#login .info{color: #777777; font-size:2em;}
	
/*=registro */
legend{width: 100%; margin-bottom: 1.5em; padding-bottom: .7em; border-bottom: 1px solid #bcbcbc; color: #777777; font-size: 2em;}
#registro li{width: 70em; text-align: right;}
	#registro .esp{margin-left: 26em; text-align: left;}
.enlaces{color: #008fb3; font-size: 1em;}
#registro .alineadoBtn{width: 100%; text-align: center;}
#registro .chequeo{display: inline; margin-left: 1em; font-size:1.4em;}

/*=registro_exito */
#principalContent .message{font-size: 2.4em; margin-bottom: 2.5em; }
	#principalContent .especial{margin-bottom: 1em;}
