/* http://meyerweb.com/eric/tools/css/reset/ v2.0 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, images, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
body{line-height:1}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
/* Added by Tanta from https://github.com/murtaugh/HTML5-Reset/blob/master/_/css/style.css */
html{overflow-y:scroll} /* force a vertical scrollbar to prevent a jumpy page */
button{width:auto;overflow:visible} /* make buttons play nice in IE */
del{text-decoration:line-through}
abbr[title], dfn[title]{border-bottom:1px dotted #000;cursor:help}
.clickable, label, input[type=button], input[type=submit], button{cursor:pointer} /* hand cursor on clickable elements */
pre, code, kbd, samp{font-family:monospace, sans-serif} /* standardize any monospaced elements */
/* Added by Tanta to reset form elements */
input, textarea, select, option{margin:0;padding:0;border:1px solid #000;background:none;font:100%/100% Arial, Helvetica, san-serif}

@font-face {
    font-family: 'HelveticaNeueLTStdCnBold';
    src: url('helveticaneueltstd-cn-webfont.eot');
    src: url('helveticaneueltstd-cn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-cn-webfont.woff') format('woff'),
         url('helveticaneueltstd-cn-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {background: url(../images/b_html.gif) 0 0 repeat; font-size:62.5%; font-family: Arial, sans-serif }
	a{text-decoration: underline;}
	a:hover{text-decoration: none;}
#wrapper{-moz-border-radius: 15px; border-radius: 15px; background: #fff;}

/*=header */
#header{position: relative; border-bottom: 1px solid #d9058a; background: url(../images/b_header.png) 100% 0 no-repeat; }
	#header:after{content: ""; position: absolute; left: 0; width:100%; border-top: 1px solid #ffc500;bottom:-5px;}
	#header:before{content: ""; position: absolute; left: 0; width:100%; border-top: 1px solid #008caf; bottom: -3px;}
	#header images{margin: 3.2em 0; }
	
/*=contentHead */
#contentHead{padding-bottom: 1.9em; border-bottom: 1px solid #bcbcbc;}
	.login{margin-top: .2em; color: #656565; font-size: 1.5em; font-family: Arial,sans-serif;text-align:right;}
		.login a{margin-left:1em;color: #008fb2;}
	#contentHead .title{clear: both; padding-top: .8em;  color: #d90587; font:normal 3em "HelveticaNeueLTStdCnBold";}
	#contentHead p{margin-top: 1.4em; color: #777777; font:normal 2em "HelveticaNeueLTStdCnBold";}
#principalContent{margin: 2.7em 0 3.2em 0;}

/*=footer */
#footer{position: relative; background: url(../images/b_footer.gif) 4em 100% no-repeat; text-align: center; border-top: 1px solid #d9058a;}
	#footer:after{content: ""; position: absolute; left: 0; width:100%; border-top: 1px solid #008caf; top: -3px;}  
	#footer:before{content: ""; position: absolute; left: 0; width:100%; border-top: 1px solid #ffc500; top: -5px;}
	
	#contact:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0; }
	#contact{display:inline-block; padding-bottom: 1em; }
	#contact li{float: left; margin-right: 0.5em; padding-left: 0.7em; background: url(../images/separator.gif) 0 0 no-repeat; color: #656565; font-size: 1.1em; }
		#contact li.first{padding: 0; background: none;}
	#footer a{display: block; margin-top: .7em; color: #008db0; font: bold 1.1em Arial,sans-serif;}
	
/*=principalContent */
#principalContent p{margin-bottom: 2.2em; font-size: 1.4em;}
a.btnType1{text-decoration: none; }
input.btnType1{border: none;}
.btnType1{padding: .3em 2em; -moz-border-radius: 10px; border-radius: 10px; background: #0087b1 url(../images/b_btnType1.gif) 0 0 repeat-x; color: #fff; font-size:1.45em;}
