
html {background:#fff url(../img/b_html.gif) 0 0 repeat;}
	body {padding: 3.2em 0; }
	
	#wrapper{width:97em; margin:0 auto; padding: 0 4em; text-align:left; }
		#header{height: 15.4em;}
		#bodyContent{padding:1em 0 3em;}
		#footer{padding-bottom:3.8em; padding-top: 3em; }
	